{% extends "base.html" %}

{% block content %}

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    

    <!-- NAVBAR -->
    <header class="site-navbar mt-3" id="top">
      <div class="container-fluid">
        <div class="row align-items-center">          

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li><a href="{% url 'home' %}">Головна</a></li>
              <li class="has-children">
                <a href="{% url 'menu' %}">Меню</a>
                <ul class="dropdown">
                  <li><a href="{% url 'menu' %}">Готове меню</a></li>
                  <li><a href="{% url 'menu_create' %}">Створити меню</a></li>
                  <li><a href="{% url 'calculate' %}" class="nav-link active">Створити страву</a></li>
                </ul>
              </li>
              <li><a href="{% url 'kall_reg' %}">Калорії</a></li>
              <li><a href="{% url 'manual_reg' %}">Довідник</a></li>
            </ul>
          </nav>

          <a class="btn btn-primary" href="{% url 'log_out' %}" role="button">Вийти</a>

          <div class="col-6 site-burger-menu d-block d-lg-none text-right">
            <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a>
          </div>

        </div>
      </div>
    </header>

    <section class="home-section section-hero overlay slanted" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12 text-center">
            <h1>Створення власної страви</h1>
            <div class="mx-auto w-75">
              <p>Оберіть продукти та створіть свою страву</p>
            </div>
          </div>
        </div>
      </div>
        
      <!-- VIDEO -->
      <div class="video-container">
        <video autoplay loop="true">
          <source type="video/mp4" src="videos/video.mp4">
        </video>
      </div>

      <a href="#next-section" class="smoothscroll scroll-button">
        <span class=" icon-keyboard_arrow_down"></span>
      </a>
    </section>

    <section class="site-section block__18514" id="next-section">
      <div class="container block__87154">
        <div class="row">
          <div class="col-lg-12 mr-auto">
            <div class="border p-4">
              <form class="form-inline">
                  <label class="text-black my-1 mr-2" for="product">Продукт</label>
                <div class="form-row align-items-center">
               <div class="col-auto my-1">
                <label class="text-black mr-sm-2 sr-only" for="product">Продукт</label>
                <select class="custom-select mr-sm-2" id="product">
                  <option selected>Оберіть продукт</option>
                  {% for product in products %}
                    <option> {{ product.product_name }} </option>
                  {% endfor %}
                </select>
                </div>

                  <form class="form-row align-items-left">
                    <label class="text-black my-1 mr-2" for="kll">Калорійність:</label>
                    <input type="kkl" class="form-control" id="kll" placeholder="">
                  </form>


                  <form class="form-row align-items-left">
                    <label class="text-black my-1 ml-3" for="recipeGr">Введіть вагу продукту згідно рецепту:</label>
                    <input type="g" class="form-control col-md-3  ml-2" id="recipeGr" placeholder="">
                  </form>
                  </div><br><br>

                  <div class="row form-group">
                    <div class="col-md-12">
                      <input type="submit" value="Додати до рецепту" class="btn btn-primary btn-md text-white" id="addRec">
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-md-12">
                      <label  class="text-black" for="productsList">Ваш рецепт:</label>
                      <ul class="font-italic" id="productsList"></ul>
                    </div>
                  </div>

                  <br><br>

                  <form class="form-inline">
                    <label class="text-black my-1 mr-2" for="fullWeight">Введіть вагу готової страви:</label>
                    <input type="g" class="form-control" id="fullWeight" placeholder="">
                    <div class="alert alert-secondary my-1 ml-3" role="alert" data-toggle="tooltip"
                         data-placement="right"
                         title="Складні страви необхідно розрахувати під час приготування. Спочатку підраховується загальна калорійність сирих продуктів. Далі зважується каструля, в якій буде варитися блюдо. Після цього зважуємо готову страву разом з каструлею. Від отриманої ваги віднімаємо вагу каструлі. Таким чином, ми дізнаємося вагу готової страви.">
                      Як зважити готову страву?
                    </div>
                  </form><br><br>

                  <form>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-md text-white" id="calcKll" onclick="saveFullKll()">Обчислити калорійність готової страви</button>
                    </div>
                  </form><br>

                  <form style="width: 200px;">
                    <div class="form-group">
                      <label class="text-black" for="KllDish">Калорійність готової страви:</label>
                      <input type="text" class="form-control" id="KllDish" placeholder="">
                    </div>
                  </form>

                  <form style="width: 200px;margin-left: 600px;padding-left: 200px;">
                    <input type="submit" value="Зберегти" class="btn btn-primary btn-md text-white">
                  </form>
                </form><br><br>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="site-footer slanted-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

    </footer>
</div>

    <script>
    const productsString = "{{ products|escapejs }}";
    const products = JSON.parse(productsString.replace(/'/g, '"'));

    <!--    elements    -->
    const productSelect = document.querySelector('.custom-select');
    const kllInput = document.querySelector('#kll');
    const recipeGrInput = document.querySelector('#recipeGr');
    const addBtn = document.querySelector('#addRec');
    const prodList = document.querySelector('#productsList');
    const fullDishWeight = document.querySelector('#fullWeight');
<!--    const calcKllBtn = document.querySelector('#calcKll');-->
<!--    const KllFinDish = document.querySelector('#KllDish');-->

    <!-- methods -->
    function onProductChange (e) {
      const value = e.target.value;
      const prod = products.find(prod => prod.product_name === value);
      kllInput.value = prod.kll;
    }
    function saveRecipe (e){
      if (!recipeGrInput.value) {
        alert('Ви не ввели вагу продукту!');
        return;
      }
      const listItemText = productSelect.value + ' - ' + kllInput.value + ' ' + '(' + recipeGrInput.value + ' г)';
      const listItemEl = document.createElement('li');
      listItemEl.innerText = listItemText;
      prodList.appendChild(listItemEl);
    }

    function saveFullKll(){
    if (!fullDishWeight.value) {
        alert('Ви не ввели вагу готової страви!');
        return;
      }
    let prod_kll,weight,fell_weight,full_kll;
    prod_kll = Number(document.getElementById("kll").value);
    weight = Number(document.getElementById("recipeGr").value);
    fell_weight = Number(document.getElementById("fullWeight").value);
    full_kll = prod_kll + weight + fell_weight;
    document.getElementById("KllDish").value = full_kll;

    full_kll.classList.add("changed");
    setTimeout(() => resultsInput.classList.remove("changed"), 1000);
<!--    const listItemKll = document.createElement('li');-->
<!--    listItemKll.innerText = full_kll;-->
<!--    KllFinDish.appendChild(listItemKll);-->

<!--      document.getElementById("all_kll").value= all;-->
<!--      const listItem = productSelect.value + ' - ' + kllInput.value + ' ' + '(' + recipeGrInput.value + ' г)'-->
<!--      + fullDishWeight.value + ' ';-->
<!--      const listItemKll = document.createElement('li');-->
<!--      listItemKll.innerText = listItem;-->
<!--      KllFinDish.appendChild(listItemKll);-->
    }

    <!--    events-->
    productSelect.addEventListener('change', onProductChange)
    addBtn.addEventListener('click', saveRecipe)
<!--    calcKllBtn.addEventListener('click', saveFullKll)-->
  </script>

    {% endblock %}