{% extends "base.html" %}

{% block content %}

    <!-- NAVBAR -->
    <header class="site-navbar mt-3" id="top">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!--<div class="site-logo col-6"><a href="index.html">лого</a></div>-->

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
             <li><a href="{% url 'home' %}">Головна</a></li>
              <li class="has-children">
                <a href="{% url 'menu' %}" class="nav-link active">Меню</a>
                <ul class="dropdown">
                  <li><a href="{% url 'menu' %}">Готове меню</a></li>
                  <li><a href="{% url 'menu_create' %}">Створити меню</a></li>
                  <li><a href="{% url 'calculate' %}">Створити страву</a></li>
                </ul>
              </li>
              <li><a href="{% url 'kall_reg' %}">Калорії</a></li>
              <li><a href="{% url 'manual_reg' %}">Довідник</a></li>
            </ul>
          </nav>

          <a class="btn btn-primary" href="{% url 'log_out' %}" role="button">Вийти</a>

        <div class="col-6 site-burger-menu d-block d-lg-none text-right">
            <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a>
        </div>

        </div>
      </div>
    </header>

    <!-- Головна -->
    <section class="home-section section-hero overlay" id="home-section">

      <div class="container" style="z-index: 3">
        <div class="row align-items-end" style="padding-top: 0px;padding-bottom: 100px;">
          <div class="col-md-12 text-center">
            <header class="masthead">
              <div class="container">
                <div class="intro-text">
                  <div class="card card-2">
                      <section class="bg-light page-section" id="manuals">
                        <div class="row">
                          <div class="form-group">
                            <h2 style="padding-left: 250px;"><br>Орієнтовне меню для школяра 1–5 класу</h2>
                          </div>
                        </div>
                      </section>
                          <table class="table">
                            <thead class="thead-dark">
                            </thead><tbody>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br><br>Сніданок</th>
                                <td class="table-bordered">Омлет із двох яєць та ложки нежирної сметани<br>
                                  Тост із цільнозернового хліба з м’яким сиром і свіжими овочами.
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br><br>Перекус</th>
                                <td class="table-bordered">Бутерброд з арахісовим маслом<br>
                                  Яблуко<br>
                                  Пляшка негазованої води<br>
                                  Домашнє печиво<br>
                                  Банан<br>
                                  Твердий сир.
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered">Обід
                                  <br>(якщо немає харчування в школі)</th>
                                <td class="table-bordered">Суп із курячими фрикадельками<br>
                                  Гречана каша з паровою котлетою<br>
                                  Свіжий або ферментований (кислий) овоч.
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br>Вечеря</th>
                                <td class="table-bordered">Білок + клітковина.<br>
                                  Наприклад, риба з овочевим салатом, запечена куряча грудка з овочами.
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br>На ніч</th>
                                <td class="table-bordered">Склянка кефіру або молока.
                                </td>
                              </tr>
                            </tbody>
                          </table>
                  </div>
                </div>
              </div>
            </header>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
