{% extends "base.html" %}

{% block content %}

    <!-- NAVBAR -->
    <header class="site-navbar mt-3" id="top">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!--<div class="site-logo col-6"><a href="index.html">лого</a></div>-->

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
             <li><a href="{% url 'home' %}">Головна</a></li>
              <li class="has-children">
                <a href="{% url 'menu' %}" class="nav-link active">Меню</a>
                <ul class="dropdown">
                  <li><a href="{% url 'menu' %}">Готове меню</a></li>
                  <li><a href="{% url 'menu_create' %}">Створити меню</a></li>
                  <li><a href="{% url 'calculate' %}">Створити страву</a></li>
                </ul>
              </li>
              <li><a href="{% url 'kall_reg' %}">Калорії</a></li>
              <li><a href="{% url 'manual_reg' %}">Довідник</a></li>
            </ul>
          </nav>

          <a class="btn btn-primary" href="{% url 'log_out' %}" role="button">Вийти</a>

        <div class="col-6 site-burger-menu d-block d-lg-none text-right">
            <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a>
        </div>

        </div>
      </div>
    </header>

    <!-- Головна -->
    <section class="home-section section-hero overlay" id="home-section">

      <div class="container" style="z-index: 3">
        <div class="row align-items-end" style="padding-top: 150px;">
          <div class="col-md-12 text-center">
            <header class="masthead">
              <div class="container">
                <div class="intro-text">
                  <div class="card card-2">
<!--                    <table class="table">-->
                      <section class="bg-light page-section" id="manuals">
                        <div class="row">
                          <div class="form-group">
                            <h2 style="margin-left: 100px;padding-left: 200px; margin-top: 20px;">Дієтичне меню на кожен день</h2>
                          </div>
                        </div>
                      </section>

                          <p class="text-white bg-dark">День перший</p>
                          <table class="table">
                            <thead class="thead-dark">
                            <tbody>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Сніданок</th>
                                <td class="table-bordered">Омлет з цвітною капустою та зеленню — 250 г<br>
                                Хліб зерновий — 50 г<br>
                                Гранат — 1 шт.
                                </td>                    
                              </tr>
                              <tr>
                                <th scope="row" class="table-bordered">Другий сніданок</th>
                                <td class="table-bordered">Яблука, запечені з сиром і родзинками — 150 г/ 50 г/10 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Обід</th>
                                <td class="table-bordered">Каша гречана — 150 г<br>
                                Буряк зі сметаною — 130/20 г
                                </td>                    
                              </tr> 
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Вечеря</th>
                                <td class="table-bordered">Морська капуста — 100 г<br>
                                Печена картопля — 150 г<br>
                                Риба відварна — 150 г
                                </td>                    
                              </tr>    
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Протягом дня</th>
                                <td class="table-bordered">Закваска кисломолочна — 200 мл<br>
                                Відвар шипшини — 500 мл<br>
                                </td>                    
                              </tr>        
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered">
                                  Загальна енергетична цінність раціону</th>
                                <td class="table-bordered">1475 ккал
                                </td>                    
                              </tr>                
                            </tbody>
                          </table>
                          <p class="text-white bg-dark">День другий</p>
                          <table class="table">
                            <thead class="thead-dark">
                            <tbody>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Сніданок</th>
                                <td class="table-bordered">Пластівці зернові — 45 г<br>
                                Йогурт 1% — 200 г<br>
                                Сухофрукти (родзинки) — 10 г<br>
                                  Горіхи  — 15 г<br>
                                  Апельсин — 1 шт.
                                </td>
                              </tr>
                              <tr>
                                <th scope="row" class="table-bordered">Другий сніданок</th>
                                <td class="table-bordered">Яблука печені з корицею — 200 г<br>
                                  Борщ пісний зі сметаною — 300/10 г<br>
                                  Помідор зі сметаною – 100/10 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Обід</th>
                                <td class="table-bordered">Борщ пісний зі сметаною — 300/10 г<br>
                                  Помідор зі сметаною – 100/10 г<br>
                                  Яйця — 80 г<br>
                                  Хліб зерновий — 20 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Вечеря</th>
                                <td class="table-bordered">Лосось, запечений із зеленню — 150 г<br>
                                  Салат овочевий — 240 г<br>
                                  Хліб зерновий — 30 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Протягом дня</th>
                                <td class="table-bordered">Закваска кисломолочна — 200 мл<br>
                                Компот з яблук, без цукру — 500  мл <br>
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered">
                                  Загальна енергетична цінність раціону</th>
                                <td class="table-bordered">1400 ккал
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <p class="text-white bg-dark">День третій</p>
                          <table class="table">
                            <thead class="thead-dark">
                            <tbody>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Сніданок</th>
                                <td class="table-bordered">Пластівці зернові — 200 г<br>
                                  Фрукти (можна заморожені) — 50 г<br>
                                  Закваска кисломолочна — 200 г<br>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row" class="table-bordered">Другий сніданок</th>
                                <td class="table-bordered">Сир зі сметаною — 80/20 г<br>
                                  Сухофрукти (родзинки) — 10 г<br>
                                  Гранат — 1 шт.<br>
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Обід</th>
                                <td class="table-bordered">Квасоля, тушкована з овочами — 240 г<br>
                                  Салат зі свіжих овочів — 160 г<br>
                                  Сир фета — 20 г<br>
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Вечеря</th>
                                <td class="table-bordered">Риба запечена — 120 г<br>
                                  Яйце — 20 г<br>
                                  Морська капуста — 100 г<br>
                                  Капуста тушкована — 200 г<br>
                                  Хліб зерновий — 30 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Протягом дня</th>
                                <td class="table-bordered">Кефір — 200 мл<br>
                                  Яблуко — 200 г<br>
                                  Відвар шипшини — 500 мл
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered">
                                  Загальна енергетична цінність раціону</th>
                                <td class="table-bordered">1489 ккал
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <p class="text-white bg-dark">День четвертий</p>
                          <table class="table">
                            <thead class="thead-dark">
                            <tbody>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Сніданок</th>
                                <td class="table-bordered">Ікра із запечених кабачків і баклажанів — 150 г<br>
                                  Омлет з двох яєць із зеленню<br>
                                  Хліб зерновий — 30 г<br>
                                  Ківі — 2 шт.
                                </td>
                              </tr>
                              <tr>
                                <th scope="row" class="table-bordered">Другий сніданок</th>
                                <td class="table-bordered">Яблука печені — 200 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Обід</th>
                                <td class="table-bordered">Салат зі свіжих овочів — 200 г<br>
                                  Каша гречана — 155 г<br>
                                  Тушкована індичка — 120 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Вечеря</th>
                                <td class="table-bordered">Капуста тушкована з грибами — 250 г<br>
                                  Печена картопля з часниковим соусом — 150 г<br>
                                  Сир фета — 30 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Протягом дня</th>
                                <td class="table-bordered">Закваска кисломолочна — 200 мл<br>
                                  Яблуко — 200 г<br>
                                  Відвар шипшини — 500 мл
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered">
                                  Загальна енергетична цінність раціону</th>
                                <td class="table-bordered"> 1389 ккал
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <p class="text-white bg-dark">День п'ятий</p>
                          <table class="table">
                            <thead class="thead-dark">
                            <tbody>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Сніданок</th>
                                <td class="table-bordered">Пластівці зернові — 45 г<br>
                                  Кефір — 200 г<br>
                                  Апельсин — 100 г<br>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row" class="table-bordered">Другий сніданок</th>
                                <td class="table-bordered">Сир зі сметаною — 80 г/20 г<br>
                                  Ягоди (полуниця, вишня, можна заморожені) — 50 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Обід</th>
                                <td class="table-bordered">Суп овочевий— 300 г<br>
                                  Індичка тушкована — 100 г<br>
                                  Буряк зі сметаною — 130 г/20 г<br>
                                  Хліб зерновий — 20 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Вечеря</th>
                                <td class="table-bordered">Салат з капусти — 250 г<br>
                                  Риба, запечена з овочами під маринадом — 180 г<br>
                                  Хліб — 30 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Протягом дня</th>
                                <td class="table-bordered">Закваска кисломолочна — 200 мл<br>
                                  Яблуко — 200 г<br>
                                  Компот із сухофруктів — 500 мл
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered">
                                  Загальна енергетична цінність раціону</th>
                                <td class="table-bordered">1349 ккал
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <p class="text-white bg-dark">День шостий</p>
                          <table class="table">
                            <thead class="thead-dark">
                            <tbody>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Сніданок</th>
                                <td class="table-bordered">Пластівці зернові — 45 г<br>
                                  Йогурт 1% — 200 г<br>
                                  Грейпфрут — 1 шт.<br>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row" class="table-bordered">Другий сніданок</th>
                                <td class="table-bordered">Яблука, запечені з сиром та родзинками — 150 г/50 г/10 г<br>
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Обід</th>
                                <td class="table-bordered">Суп овочевий з цвітною капустою — 300 г<br>
                                  Салат зі свіжих овочів — 200 г<br>
                                  Телятина тушкована — 100 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Вечеря</th>
                                <td class="table-bordered">Каша гречана — 150 г<br>
                                  Капуста тушкована з грибами — 200 г<br>
                                  Варене яйце — 40 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Протягом дня</th>
                                <td class="table-bordered">Закваска кисломолочна — 200 мл<br>
                                  Компот із сухофруктів — 500  мл
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered">
                                  Загальна енергетична цінність раціону</th>
                                <td class="table-bordered">1312 ккал
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <p class="text-white bg-dark">День сьомий</p>
                          <table class="table">
                            <thead class="thead-dark">
                            <tbody>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Сніданок</th>
                                <td class="table-bordered">Пластівці зернові — 45 г<br>
                                  Кефір — 200 мл<br>
                                  Горіхи — 15 г<br>
                                  Родзинки — 10 г<br>
                                  Ківі — 2 шт.
                                </td>
                              </tr>
                              <tr>
                                <th scope="row" class="table-bordered">Другий сніданок</th>
                                <td class="table-bordered">Сир зі сметаною — 80 г/20 г<br>
                                  Ягоди (полуниця, вишня, можна заморожені) — 50 г<br>
                                  Чорнослив — 25 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Обід</th>
                                <td class="table-bordered">Баклажани, фаршировані овочами під сиром — 250 г<br>
                                  Тушкована індичка — 100 г<br>
                                  Хліб — 30 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Вечеря</th>
                                <td class="table-bordered">Овочева нарізка — 220 г<br>
                                  Лосось, запечений з зеленню — 150 г<br>
                                  Хліб зерновий— 20 г
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br
                                  >Протягом дня</th>
                                <td class="table-bordered">Закваска кисломолочна — 200 мл<br>
                                  Компот з яблук — 500  мл
                                </td>
                              </tr>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered">
                                  Загальна енергетична цінність раціону</th>
                                <td class="table-bordered">1408 ккал
                                </td>
                              </tr>
                            </tbody>
                          </table>
                  </div>
                </div>
              </div>
            </header>
          </div>
        </div>
      </div>
    </section>

     <section class="home-section section-hero overlay" >
    </section> <section class="home-section section-hero overlay" >
    </section> <section class="home-section section-hero overlay" >
    </section> <section class="home-section section-hero overlay" >
    </section><section class="home-section section-hero overlay" >
    </section>
    <footer class="site-footer slanted-footer" style="z-index: 2; margin-top: -33rem; padding: 17rem">
      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>
    </footer>


  {% endblock %}
