{% extends "base.html" %}
{% block content %}

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3" id="top">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!--<div class="site-logo col-6"><a href="index.html">лого</a></div>-->

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li><a href="{% url 'home' %}" class="nav-link active">Головна</a></li>
              <li class="has-children">
                <a href="{% url 'menu' %}">Меню</a>
                <ul class="dropdown">
                  <li><a href="{% url 'menu' %}">Готове меню</a></li>
                  <li><a href="{% url 'menu_create' %}">Створити меню</a></li>
                  <li><a href="{% url 'calculate' %}">Створити страву</a></li>
                </ul>
              </li>
              <li><a href="{% url 'kall_reg' %}">Калорії</a></li>
              <li><a href="{% url 'manual_reg' %}">Довідник</a></li>
            </ul>
          </nav>

          <a class="btn btn-primary" href="{% url 'log_out' %}" role="button">Вийти</a>

          <div class="col-6 site-burger-menu d-block d-lg-none text-right">
            <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a>
          </div>

        </div>
      </div>
    </header>

    <!-- Головна -->
    <section class="home-section section-hero overlay slanted" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12 text-center">
            <h1>Ласкаво просимо!</h1>
            <div class="mx-auto w-75">
              <p>Цей сайт спростить вам розрахунок калорійністі страви, яку ви хочете спожити, допоможе сформувати правильне меню, для дотримання рівноваги між енергією, яка надходить з їжею та енергетичними затратами організму</p>
            </div>
          </div>
        </div>
      </div>


      <!--Відео
      <div class="video-container">
        <video autoplay loop="true">
          <source type="video/mp4" src="videos/video.mp4">
        </video>
      </div>-->

      <a href="#about-us-section" class="scroll-button smoothscroll" style="padding-top: 0px;padding-bottom: 0px;margin-bottom: 38px;">
        <span class="icon-keyboard_arrow_down" style="padding-top: 0px;padding-bottom: 0px;margin-bottom: 0px;"></span>
      </a>

    </section>

    <!-- Меню -->
    <section class="site-section services-section bg-light block__62849" id="services-section" style="margin-bottom: -61px;">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Харчування є основною біологічною потребою людини</h2>
            <h5>Дієтологи називають такі завдання здорового харчування і формування правильного раціону:<br>
              1.  досягнення і підтримка нормальної ваги, в залежності від типу статури;<br>
              2.  забезпечення необхідної кількості калорій для активної життєдіяльності;<br>
              3.  підтримання збалансованого гормонального фону, а також рівня цукру в крові;<br>
              4.  задоволення потреб організму у вітамінах, мінералах і мікроелементах;<br>
              5.  підтримання нормальної мікрофлори кишечнику;<br>
              6.  підтримання правильної роботи травної та видільної систем;<br>
              7.  нейтралізація або зменшення шкідливого впливу навколишнього середовища на здоров'я людини.
          </h5>
          </div>
        </div></div>
    </section>

    <footer class="site-footer slanted-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>
    </footer>

  </div>
  {% endblock %}

