{% extends "base.html" %}
{% block content %}

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3" id="top">
      <div class="container-fluid">
        <div class="row align-items-center">

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li><a href="{% url 'home' %}">Головна</a></li>
              <li class="has-children">
                <a href="{% url 'menu' %}">Меню</a>
                <ul class="dropdown">
                  <li><a href="{% url 'menu' %}">Готове меню</a></li>
                  <li><a href="{% url 'menu_create' %}">Створити меню</a></li>
                  <li><a href="{% url 'calculate' %}">Створити страву</a></li>
                </ul>
              </li>
              <li><a href="{% url 'kall_reg' %}" class="nav-link active">Калорії</a></li>
              <li><a href="{% url 'manual_reg' %}">Довідник</a></li>
            </ul>
          </nav>

          <a class="btn btn-primary" href="{% url 'log_out' %}" role="button">Вийти</a>

          <div class="col-6 site-burger-menu d-block d-lg-none text-right">
            <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a>
          </div>

        </div>
      </div>
    </header>


    <!-- Кародкий опис -->
    <section class="home-section section-hero overlay slanted" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-8 text-center">
            <h1>Калорії</h1>
            <div class="mx-auto w-75">
              <p>Оберіть продукт та дізнайтеся його калорійність</p>
              <p>(ккл за 100г)</p>
            </div>
          </div>
        </div>
      </div>

      <!-- VIDEO -->
      <div class="video-container">
        <video autoplay loop="true">
          <source type="video/mp4" src="videos/video.mp4">
        </video>
      </div>

      <a href="#next-section" class="smoothscroll scroll-button">
        <span class=" icon-keyboard_arrow_down"></span>
      </a>

    </section>
    <!-- {% load static %} -->

    <section class="site-section" id="next-section">


      <div class="container block__87154">


       <div class="row justify-content-center mb-5" data-aos="fade-up">
          <div id="filters" class="filters text-center button-group col-md-7">
            <button class="btn btn-primary" data-filter=".vegetables">Овочі</button>
            <button class="btn btn-primary" data-filter=".fruits">Фрукти</button>
            <button class="btn btn-primary" data-filter=".seafood">Морепродукти</button>
            <button class="btn btn-primary" data-filter=".meat">М'ясо</button>
          </div>
        </div>

        <div id="posts" class="row no-gutter">
          <!--all-->
          <div class="item vegetables col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
            <a href="{% url 'veg_for_reg' %}" class="item-wrap">
              <span class="icon-add"></span>
              <img class="img-fluid" src="{% static 'img/vegetables/img_1.jpg' %}">
            </a>
          </div>
          <div class="item fruits col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
            <a href="{% url 'fruit_for_reg' %}" class="item-wrap">
              <span class="icon-add"></span>
              <img class="img-fluid" src="{% static 'img/fruits/img_1.jpg' %}">
            </a>
          </div>
          <div class="item seafood col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
            <a href="{% url 'seafood_for_reg' %}" class="item-wrap">
              <span class="icon-add"></span>
              <img class="img-fluid" src="{% static 'img/seafood/img_1.jpg' %}">
            </a>
          </div>
          <div class="item meat col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
            <a href="{% url 'meat_for_reg' %}" class="item-wrap">
              <span class="icon-add"></span>
              <img class="img-fluid" src="{% static 'img/meat/img_1.jpg' %}">
            </a>
          </div>
          <div class="item all col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
            <a href="{% url 'veg_for_reg' %}" class="item-wrap">
              <span class="icon-add"></span>
              <img class="img-fluid" src="{% static 'img/vegetables/img_2.jpg' %}">
            </a>
          </div>
          <div class="item all col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
            <a href="{% url 'meat_for_reg' %}" class="item-wrap">
              <span class="icon-add"></span>
              <img class="img-fluid" src="{% static 'img/meat/img_2.jpg' %}">
            </a>
          </div>

        </div>
      </div>

      <section class="site-section">
      <div class="container block__87154">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3 bg-light">Цікаво знати:</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="block__87154">
              <blockquote>
                <p>Відомо, що калорійність продуктів залежить від їх ваги. Так, наприклад, цвітна капуста, у сирому вигляді буде містити 18 ккл, тоді як варена - 25 ккл</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>

    </section>




    <footer class="site-footer slanted-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

    </footer>
  {% endblock %}