{% extends "base.html" %}

{% block content %}
<!--<body style="border-bottom-width: 0px;border-bottom-style: solid;padding-bottom: 0px;">-->

<!--Відео-->
      <div class="video-container">
        <video autoplay="" loop="true">
          <source type="video/mp4" src="/static/videos/video.mp4">
        </video>
      </div>

    <!-- NAVBAR -->
    <header class="site-navbar mt-3" id="top">
      <div class="container-fluid">
        <div class="row align-items-center">

           <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li><a href="{% url 'home' %}">Головна</a></li>
              <li class="has-children">
                <a href="{% url 'menu' %}">Меню</a>
                <ul class="dropdown">
                  <li><a href="{% url 'menu' %}">Готове меню</a></li>
                  <li><a href="{% url 'menu_create' %}">Створити меню</a></li>
                  <li><a href="{% url 'calculate' %}">Створити страву</a></li>
                </ul>
              </li>
              <li><a href="{% url 'kall_reg' %}">Калорії</a></li>
              <li><a href="{% url 'manual_reg' %}" class="nav-link active">Довідник</a></li>
            </ul>
          </nav>

          <a class="btn btn-primary" href="{% url 'log_out' %}" role="button">Вийти</a>

          <div class="col-6 site-burger-menu d-block d-lg-none text-right">
            <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a>
          </div>

        </div>
      </div>
    </header>

    <!-- Головна -->
    <section class="home-section section-hero overlay" id="home-section">

      <div class="container">
        <div class="row align-items-end" style="padding-top: 100px;">
          <div class="col-md-12 text-center">
            <header class="masthead">
              <div class="container">
                <div class="intro-text">
                  <div class="card card-2">
                    <section class="bg-light page-section" id="manuals">
                        <div class="row">
                          <div class="form-group">
                            <h2 style="margin-left: 100px;padding-left: 200px; margin-top: 20px;">Довідник добової норми калорій для людини</h2>
                          </div>
                          </div>
                    </section>

                    <p class="text-white bg-dark">Фізіологічні потреби чоловіків</p>
                    <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col" class="table-bordered">Група інтенсивності праці</th>
                                <th scope="col">Вікова група</th>
                                <th scope="col">Енергія</th>
                                <th scope="col">Білки</th>
                                <th scope="col">Жири</th>
                                <th scope="col">Вуглеводи</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br>I</th>
                                <td class="table-bordered">18-29<br>
                                30-39<br>
                                40-59
                                </td>
                                <td class="table-bordered">2450<br>
                                2300<br>
                                2100
                                </td>
                                <td class="table-bordered">67<br>
                                63<br>
                                58</td>
                                <td class="table-bordered">68<br>
                                64<br>
                                58</td>
                                <td class="table-bordered">392<br>
                                368<br>
                                336</td>
                              </tr>
                              <tr>
                              <th scope="row" class="table-bordered"><br>II</th>
                                <td class="table-bordered">18-29<br>
                                30-39<br>
                                40-59
                                </td>
                                <td class="table-bordered">2800<br>
                                2650<br>
                                2500
                                </td>
                                <td class="table-bordered">77<br>
                                73<br>
                                69</td>
                                <td class="table-bordered">78<br>
                                74<br>
                                69</td>
                                <td class="table-bordered">448<br>
                                424<br>
                                400</td>
                              </tr>
                              <tr>
                              <th scope="row" class="table-bordered"><br>III</th>
                                <td class="table-bordered">18-29<br>
                                30-39<br>
                                40-59
                                </td>
                                <td class="table-bordered">3300<br>
                                3150<br>
                                2950
                                </td>
                                <td class="table-bordered">91<br>
                                87<br>
                                81</td>
                                <td class="table-bordered">92<br>
                                88<br>
                                82</td>
                                <td class="table-bordered">528<br>
                                504<br>
                                472</td>
                              </tr>
                            </tbody>
                          </table>
                          <p class="text-white bg-dark">Фізіологічні потреби жінок</p>
                          <table class="table">
                            <thead class="thead-dark">

                              <tr>
                                <th scope="col" class="table-bordered">Група інтенсивності праці</th>
                                <th scope="col">Вікова група</th>
                                <th scope="col">Енергія</th>
                                <th scope="col">Білки</th>
                                <th scope="col">Жири</th>
                                <th scope="col">Вуглеводи</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="table-bordered">
                                <th scope="row" class="table-bordered"><br>I</th>
                                <td class="table-bordered">18-29<br>
                                30-39<br>
                                40-59
                                </td>
                                <td class="table-bordered">2000<br>
                                1900<br>
                                1800
                                </td>
                                <td class="table-bordered">55<br>
                                52<br>
                                50</td>
                                <td class="table-bordered">56<br>
                                53<br>
                                51</td>
                                <td class="table-bordered">320<br>
                                304<br>
                                288</td>
                              </tr>
                              <tr>
                              <th scope="row" class="table-bordered"><br>II</th>
                                <td class="table-bordered">18-29<br>
                                30-39<br>
                                40-59
                                </td>
                                <td class="table-bordered">2200<br>
                                2150<br>
                                2100
                                </td>
                                <td class="table-bordered">61<br>
                                59<br>
                                58</td>
                                <td class="table-bordered">62<br>
                                60<br>
                                59</td>
                                <td class="table-bordered">352<br>
                                344<br>
                                336</td>
                              </tr>
                              <tr>
                              <th scope="row" class="table-bordered"><br>III</th>
                                <td class="table-bordered">18-29<br>
                                30-39<br>
                                40-59
                                </td>
                                <td class="table-bordered">2600<br>
                                2550<br>
                                2500
                                </td>
                                <td class="table-bordered">72<br>
                                70<br>
                                69</td>
                                <td class="table-bordered">73<br>
                                71<br>
                                70</td>
                                <td class="table-bordered">416<br>
                                408<br>
                                400</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  </div>
                </div>
              </header>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Головна -->
    <section class="home-section section-hero overlay" id="home-section">
    </section>


  {% endblock %}



