{% extends "base.html" %}
{% block content %}

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    

    <!-- NAVBAR -->
    <header class="site-navbar mt-3" id="top">
      <div class="container-fluid">
        <div class="row align-items-center">          

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li><a href="{% url 'home' %}">Головна</a></li>
              <li class="has-children">
                <a href="{% url 'menu' %}">Меню</a>
                <ul class="dropdown">
                  <li><a href="{% url 'menu' %}">Готове меню</a></li>
                  <li><a href="{% url 'menu_create' %}" class="nav-link active">Створити меню</a></li>
                  <li><a href="{% url 'calculate' %}">Створити страву</a></li>
                </ul>
              </li>
              <li><a href="{% url 'kall_reg' %}">Калорії</a></li>
              <li><a href="{% url 'manual_reg' %}">Довідник</a></li>
            </ul>
          </nav>

          <a class="btn btn-primary" href="{% url 'log_out' %}" role="button">Вийти</a>


          <div class="col-6 site-burger-menu d-block d-lg-none text-right">
            <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a>
          </div>

        </div>
      </div>
    </header>


    <!-- Кародкий опис -->
    <section class="home-section section-hero overlay slanted" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-8 text-center">
            <h1>Сам собі шеф-кухар</h1>
            <div class="mx-auto w-75">
              <p>Тут ви можете створити своє меню</p>
            </div>
          </div>
        </div>
      </div>

      <a href="#next-section" class="smoothscroll scroll-button">
        <span class=" icon-keyboard_arrow_down"></span>
      </a>
    </section>

    <section class="site-section block__18514" id="next-section">
      <div class="container block__87154">
        <div class="row">
          <div class="col-md-12">
            <div class="border p-4">
              <h2 class="text-center">Ваше меню</h2>

              <h4 style="margin-left: 65px;">Сніданок:</h4>

                  <div class="input-group mb-3">
                      <label class="text-black my-1 mr-2" for="prod_1">Страва</label>
                      <div class="col-auto my-1">
                            <select class="custom-select custom-select-breakfast mr-sm-2" id="prod_1">
                              <option selected>Оберіть страву</option>
                              {% for product in products %}
                                <option value="{{ product.kll }}"> {{ product.product_name }} </option>
                              {% endfor %}
                            </select>
                      </div>
                  </div>

                  <div class="input-group mb-3">
                      <label class="text-black my-1 mr-2" for="prod_2">Страва</label>
                      <div class="col-auto my-1">
                            <select class="custom-select custom-select-breakfast mr-sm-2" id="prod_2">
                              <option selected>Оберіть страву</option>
                              {% for product in products %}
                                <option value="{{ product.kll }}"> {{ product.product_name }} </option>
                              {% endfor %}
                            </select>
                      </div>
                  </div>


                  <div class="input-group mb-3">
                      <label class="text-black my-1 mr-2" for="prod_3">Страва</label>
                      <div class="col-auto my-1">
                            <select class="custom-select custom-select-breakfast mr-sm-2" id="prod_3">
                              <option selected>Оберіть страву</option>
                              {% for product in products %}
                                <option value="{{ product.kll }}"> {{ product.product_name }} </option>
                              {% endfor %}
                            </select>
                      </div>
                  </div>

                  <div class="input-group mb-3">
                      <label class="text-black my-1 mr-2" for="kll">Калорійність сніданку:</label>
                         <input type="text" class="form-control col-md-2 col-lg-4" id="kll" placeholder="">
                  </div>

            <h4 style="margin-left: 65px;">Обід:</h4>

              <div class="input-group mb-3">
                  <label class="text-black my-1 mr-2" for="prod_4">Страва</label>
                  <div class="col-auto my-1">
                        <select class="custom-select custom-select-lunch mr-sm-2" id="prod_4">
                          <option selected>Оберіть страву</option>
                          {% for product in products %}
                            <option value="{{ product.kll }}"> {{ product.product_name }} </option>
                          {% endfor %}
                        </select>
                  </div>
              </div>

              <div class="input-group mb-3">
                  <label class="text-black my-1 mr-2" for="prod_5">Страва</label>
                  <div class="col-auto my-1">
                        <select class="custom-select custom-select-lunch mr-sm-2" id="prod_5">
                          <option selected>Оберіть страву</option>
                          {% for product in products %}
                            <option value="{{ product.kll }}"> {{ product.product_name }} </option>
                          {% endfor %}
                        </select>
                  </div>
              </div>

              <div class="input-group mb-3">
                <label class="text-black my-1 mr-2" for="prod_6">Страва</label>
                  <div class="col-auto my-1">
                        <select class="custom-select custom-select-lunch mr-sm-2" id="prod_6">
                          <option selected>Оберіть страву</option>
                          {% for product in products %}
                            <option value="{{ product.kll }}"> {{ product.product_name }} </option>
                          {% endfor %}
                        </select>
                  </div>
              </div>

              <div class="input-group mb-3">
                  <label class="text-black my-1 mr-2" for="kll">Калорійність обіду:</label>
                 <input type="text" class="form-control col-md-2 col-lg-4" id="kll_1" placeholder="">
              </div>

            <h4 style="margin-left: 65px;">Вечеря:</h4>

              <div class="input-group mb-3">
                  <label class="text-black my-1 mr-2" for="prod_7">Страва</label>
                  <div class="col-auto my-1">
                        <select class="custom-select custom-select-diner mr-sm-2" id="prod_7">
                          <option selected>Оберіть страву</option>
                          {% for product in products %}
                            <option value="{{ product.kll }}"> {{ product.product_name }} </option>
                          {% endfor %}
                        </select>
                  </div>
              </div>

              <div class="input-group mb-3">
                  <label class="text-black my-1 mr-2" for="prod_8">Страва</label>
                  <div class="col-auto my-1">
                        <select class="custom-select custom-select-diner mr-sm-2" id="prod_8">
                          <option selected>Оберіть страву</option>
                          {% for product in products %}
                            <option value="{{ product.kll }}"> {{ product.product_name }} </option>
                          {% endfor %}
                        </select>
                  </div>
              </div>

              <div class="input-group mb-3">
                <label class="text-black my-1 mr-2" for="prod_9">Страва</label>
                  <div class="col-auto my-1">
                        <select class="custom-select custom-select-diner mr-sm-2" id="prod_9">
                          <option selected>Оберіть страву</option>
                          {% for product in products %}
                            <option value="{{ product.kll }}"> {{ product.product_name }} </option>
                          {% endfor %}
                        </select>
                  </div>
              </div>

              <div class="input-group mb-3">
                  <label class="text-black my-1 mr-2" for="kll">Калорійність вечері:</label>
                     <input type="text" class="form-control col-md-2 col-lg-4" id="kll_2" placeholder="">
              </div>

              <div class="input-group flex-column text-right align-items-end">
               <h5>Загальна калорійність меню</h5>
                <div class="d-flex mb-2 mt-2">
                    <button type="submit" class="btn btn-primary mb-2 mr-2" id="sumKll" onclick="SumOfKll()">Розрахувати</button>
                    <input type="text" class="form-control" id="all_kll" placeholder="">
                </div>
              </div>
                <div id="calculation-alert" class="d-none alert alert-danger">Ви перевищили добову норму калорій!
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="site-footer slanted-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

    </footer>
  
  </div>

<script>
    const productsString = "{{ products|escapejs }}";
    const products = JSON.parse(productsString.replace(/'/g, '"'));

    const productSelect = document.querySelectorAll(".custom-select-breakfast");
    const productSelectLunch = document.querySelectorAll(".custom-select-lunch");
    const productSelectDiner = document.querySelectorAll(".custom-select-diner");
    const productAll = document.querySelector("sumKll");

    const kllInput = document.querySelector("#kll");
    const kllLunch = document.querySelector("#kll_1");
    const kllDiner = document.querySelector("#kll_2");
    const kllAll = document.querySelector("#all_kll");

    productSelect.forEach((prod) => {
      prod.addEventListener("change", (e) => {
        const value = e.target.value;
        // loop throw select boxes and sum selected values on change event
        const sumOfSelectedProducts = [...productSelect].reduce(
          (acc, { value }) => {
            const elVal = parseFloat(value.replace(",", ".")) || 0;
            return (acc += elVal);
          },
          0
        );
          kllInput.value = sumOfSelectedProducts;
      });
    });

    productSelectLunch.forEach((prod) => {
      prod.addEventListener("change", (e) => {
        const value = e.target.value;
        // loop throw select boxes and sum selected values on change event
        const sumOfSelectedProductsLunch = [...productSelectLunch].reduce(
          (acc, { value }) => {
            const elVal = parseFloat(value.replace(",", ".")) || 0;
            return (acc += elVal);
          },
          0
        );
          kllLunch.value = sumOfSelectedProductsLunch;
      });
    });

    productSelectDiner.forEach((prod) => {
      prod.addEventListener("change", (e) => {
        const value = e.target.value;
        // loop throw select boxes and sum selected values on change event
        const sumOfSelectedProductsDiner = [...productSelectDiner].reduce(
          (acc, { value }) => {
            const elVal = parseFloat(value.replace(",", ".")) || 0;
            return (acc += elVal);
          },
          0
        );
          kllDiner.value = sumOfSelectedProductsDiner;
      });
    });

    function SumOfKll(){
        let breakfast,lunch,diner,all;
        breakfast = Number(document.getElementById("kll").value);
        lunch = Number(document.getElementById("kll_1").value);
        diner = Number(document.getElementById("kll_2").value);
        all = breakfast + lunch + diner;
        document.getElementById("all_kll").value= all;

        if (all >= 2000) {
            $("#calculation-alert").toggleClass('d-none')
        }
    }


  </script>

  {% endblock %}
