{% extends "base.html" %}
{% block content %}

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    

    <!-- NAVBAR -->
    <header class="site-navbar mt-3" id="top">
      <div class="container-fluid">
        <div class="row align-items-center">          

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li><a href="{% url 'home' %}">Головна</a></li>
              <li class="has-children">
                <a href="{% url 'menu' %}">Меню</a>
                <ul class="dropdown">
                  <li><a href="{% url 'menu' %}">Готове меню</a></li>
                  <li><a href="{% url 'menu_create' %}" class="nav-link active">Створити меню</a></li>
                  <li><a href="{% url 'calculate' %}">Створити страву</a></li>
                </ul>
              </li>
              <li><a href="{% url 'kall_reg' %}">Калорії</a></li>
              <li><a href="{% url 'manual_reg' %}">Довідник</a></li>
            </ul>
          </nav>

          <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Що ви бажаєте знайти?" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Пошук</button>
      </form>
             <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
          <li class="nav-item"><a class="nav-link" style="color: white" href="{% url 'log_out' %}">Вийти</a></li>
          </ul>

          <div class="col-6 site-burger-menu d-block d-lg-none text-right">
            <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a>
          </div>

        </div>
      </div>
    </header>


    <!-- Кародкий опис -->
    <section class="home-section section-hero overlay slanted" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-8 text-center">
            <h1>Сам собі шеф-кухар</h1>
            <div class="mx-auto w-75">
              <p>Тут ви можете створити своє меню</p>
            </div>
          </div>
        </div>
      </div>
        
      <!-- VIDEO -->
      <div class="video-container">
        <video autoplay loop="true">
          <source type="video/mp4" src="videos/video.mp4">
        </video>
      </div>

      <a href="#next-section" class="smoothscroll scroll-button">
        <span class=" icon-keyboard_arrow_down"></span>
      </a>
    </section>

    <section class="site-section block__18514" id="next-section">
      <div class="container block__87154">
        <div class="row">
          <div class="col-lg-12 mr-auto">
            <div class="border p-4">

              <table class="table">
                      <section class="bg-white page-section" id="manuals">
                        <div class="row">
                          <div class="form-group">
                            <h2 style="margin-left: 210px;padding-left: 250px; margin-top: 20px;">Ваше меню</h2>
                          </div>

                          <table class="table">
                            <h4 style="margin-left: 65px;">Сніданок:</h4>

<!--                            <form class="form-inline">-->
<!--                                <div class="form-row align-items-center">-->
<!--               <div class="col-auto my-1">-->
<!--                <select class="custom-select mr-sm-2" id="product">-->
<!--                  <option selected>Оберіть страву</option>-->
<!--                  {% for dish in dishes %}-->
<!--                    <option> {{ dish.product }} </option>-->
<!--                  {% endfor %}-->
<!--                </select>-->
<!--                </div>-->
                              <div class="input-group mb-3">
                                <label for="inputText" class="sr-only">Пластівці зернові</label>
                                <input type="text" class="form-control" id="inputText" placeholder="Пластівці зернові" style="margin-left: 10px;">
                                  <div class="dropdown open show" style="margin-right: 650px;border-right-style: solid;border-left-style: solid;border-left-width: 0px;border-right-width: 0px;right: 10px;">
                                      <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-left: 10px;">⤵</a>
<!--                                      <div class="dropdown-menu show" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-5px, 36px, 0px);">-->

                                    </div>
                                  </div>
                                  </div>

                              <div class="input-group mb-3">
                                <label for="inputText" class="sr-only">Фрукти</label>
                                <input type="text" class="form-control" id="inputText" placeholder="Фрукти" style="margin-left: 10px;">
                                  <div class="dropdown open show" style="margin-right: 650px;border-right-style: solid;border-left-style: solid;border-left-width: 0px;border-right-width: 0px;right: 10px;">
                                      <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-left: 10px;">⤵</a>
<!--                                      <div>-->
                                  </div>
                                  </div>
                                  <div class="input-group mb-3">
                                <label for="inputText" class="sr-only">Закваска кисломолочна</label>
                                <input type="text" class="form-control" id="inputText" placeholder="Закваска кисломолочна" style="margin-left: 10px;">
                                  <div class="dropdown open show" style="margin-right: 650px;border-right-style: solid;border-left-style: solid;border-left-width: 0px;border-right-width: 0px;right: 10px;">
                                      <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-left: 10px;">⤵</a>
<!--                                      <div class="dropdown-menu show" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-5px, 36px, 0px);">-->
<!--                                        <option class="dropdown-item">Пластівці зернові</option>-->
<!--                                        <option class="dropdown-item">Фрукти</option>-->
<!--                                        <option class="dropdown-item">Йогурт 1%</option>-->
<!--                                    </div>                                                                  -->
                                  </div>
                                  </div>
                                </form>

                                <h4 style="margin-left: 65px;">Обід:</h4>

                            <form class="form-inline">
                               <div class="input-group mb-3">
                                <label for="inputText" class="sr-only">Помідор зі сметаною</label>
                                <input type="text" class="form-control" id="inputText" placeholder="Помідор зі сметаною" style="margin-left: 10px;">
                                  <div class="dropdown open show" style="margin-right: 650px;border-right-style: solid;border-left-style: solid;border-left-width: 0px;border-right-width: 0px;right: 10px;">
                                      <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-left: 10px;">⤵</a>
<!--                                      <div class="dropdown-menu show" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-5px, 36px, 0px);">-->
<!--                                        <option class="dropdown-item">Яйця</option>-->
<!--                                        <option class="dropdown-item">Хліб зерновий</option>-->
<!--                                        <option class="dropdown-item">Борщ пісний зі сметаною</option>-->
<!--                                    </div>                                                                  -->
                                  </div>
                                  </div>

                                  <div class="input-group mb-3">
                                <label for="inputText" class="sr-only">Яйця</label>
                                <input type="text" class="form-control" id="inputText" placeholder="Яйця" style="margin-left: 10px;">
                                  <div class="dropdown open show" style="margin-right: 650px;border-right-style: solid;border-left-style: solid;border-left-width: 0px;border-right-width: 0px;right: 10px;">
                                      <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-left: 10px;">⤵</a>
<!--                                      <div class="dropdown-menu show" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-5px, 36px, 0px);">-->
<!--                                        <option class="dropdown-item">Помідор зі сметаною</option>-->
<!--                                        <option class="dropdown-item">Хліб зерновий</option>-->
<!--                                        <option class="dropdown-item">Борщ пісний зі сметаною</option>-->
<!--                                    </div>                                                                  -->
                                  </div>
                                  </div>

                                  <div class="input-group mb-3">
                                <label for="inputText" class="sr-only">Хліб зерновий</label>
                                <input type="text" class="form-control" id="inputText" placeholder="Хліб зерновий" style="margin-left: 10px;">
                                  <div class="dropdown open show" style="margin-right: 650px;border-right-style: solid;border-left-style: solid;border-left-width: 0px;border-right-width: 0px;right: 10px;">
                                      <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-left: 10px;">⤵</a>
<!--                                      <div class="dropdown-menu show" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-5px, 36px, 0px);">-->
<!--                                        <option class="dropdown-item">Помідор зі сметаною</option>-->
<!--                                        <option class="dropdown-item">Яйця</option>-->
<!--                                        <option class="dropdown-item">Борщ пісний зі сметаною</option>-->
<!--                                    </div>                                                                  -->
                                  </div>
                                  </div>
                                </form>

                             <h4 style="margin-left: 65px;">Вечеря:</h4>
                            <form class="form-inline">
                                <div class="input-group mb-3">
                                <label for="inputText" class="sr-only">Лосось, запечений із зеленню</label>
                                <input type="text" class="form-control" id="inputText" placeholder="Лосось, запечений із зеленню" style="margin-left: 10px;">
                                  <div class="dropdown open show" style="margin-right: 650px;border-right-style: solid;border-left-style: solid;border-left-width: 0px;border-right-width: 0px;right: 10px;">
                                      <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-left: 10px;">⤵</a>
<!--                                      <div class="dropdown-menu show" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-5px, 36px, 0px);">-->
<!--                                        <option class="dropdown-item">Салат овочевий</option>-->
<!--                                        <option class="dropdown-item">Хліб зерновий</option>-->
<!--                                    </div>                                                                  -->
                                  </div>
                                  </div>

                                   <div class="input-group mb-3">
                                <label for="inputText" class="sr-only">Салат овочевий</label>
                                <input type="text" class="form-control" id="inputText" placeholder="Салат овочевий" style="margin-left: 10px;">
                                  <div class="dropdown open show" style="margin-right: 650px;border-right-style: solid;border-left-style: solid;border-left-width: 0px;border-right-width: 0px;right: 10px;">
                                      <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-left: 10px;">⤵</a>
<!--                                      <div class="dropdown-menu show" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-5px, 36px, 0px);">-->
<!--                                        <option class="dropdown-item">Лосось, запечений із зеленню</option>-->
<!--                                        <option class="dropdown-item">Хліб зерновий</option>-->
<!--                                    </div>                                                                  -->
                                  </div>
                                  </div>

                                  <div class="input-group mb-3">
                                <label for="inputText" class="sr-only">Хліб зерновий</label>
                                <input type="text" class="form-control" id="inputText" placeholder="Хліб зерновий" style="margin-left: 10px;">
                                  <div class="dropdown open show" style="margin-right: 650px;border-right-style: solid;border-left-style: solid;border-left-width: 0px;border-right-width: 0px;right: 10px;">
                                      <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-left: 10px;">⤵</a>
<!--                                      <div class="dropdown-menu show" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-5px, 36px, 0px);">-->
<!--                                        <option class="dropdown-item">Лосось, запечений із зеленню</option>-->
<!--                                        <option class="dropdown-item">Салат овочевий</option>-->
<!--                                    </div>                                                                  -->
                                  </div>
                                  </div>
                            </form></section>

                          </table>
                           <h5 style="margin-left: 700px;">Загальна калорійність меню</h5>
                           <form class="form-inline" style="margin-left: 650px;">
                            <button type="submit" class="btn btn-primary mb-2" style="padding-left: 0.75rem;">Розрахувати</button>
                            <div class="form-group mx-sm-3 mb-2" style="margin-left: 0px;margin-right: 0px;">
                              <label for="inputPassword2" class="sr-only" style=""></label>
                              <input type="password" class="form-control" id="inputkll" placeholder="">
                            </div>
                            
                          </form>

                          
                          
            </div></div></div></div>
                      </section>
                    </table>

            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="site-footer slanted-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

    </footer>
  
  </div>
  {% endblock %}

  <!--

    <-- SCRIPTS --
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/stickyfill.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    
    <script src="js/custom.js"></script>
  </body>
</html>-->