{% extends "base.html" %}
{% block content %}
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

<header class="site-navbar mt-3" id="top">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!--<div class="site-logo col-6"><a href="index.html">лого</a></div>-->

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li><span class="iconify" data-icon="fa-solid:home"></span>
<!--                <a href="/mainapp/" style="padding-left: 0px;margin-left: 0px;">Головна</a>-->
                 <a href="{% url 'index' %}">Головна</a></li>
              <li><span class="iconify" data-icon="fa-solid:width"></span>
                <a href="{% url 'kallori' %}">Калорії</a></li>
              <li><a href="{% url 'manual' %}">Довідник</a></li>
            </ul>
          </nav>

          <div class="col-6 site-burger-menu d-block d-lg-none text-right">
            <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a>
          </div>
        </div>
        <div class="page-wrapper bg-indigo-100 p-t-100 p-b-10 font-robo" style="padding-top: 50px">
        <div class="wrapper wrapper--w960">
          <div class="card card-2" style="margin-right: 200px; margin-left: 200px;">

            <div class="container h-100">
              <div class="d-flex justify-content-center h-100" style="padding-top: 0px;margin-top: 8px;border-top-width: 0px;border-top-style: solid;margin-bottom: 8px;">
			    <div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Вхід</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
                        {% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" placeholder="Ім'я..." class="form-control">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="password" placeholder="Пароль..." class="form-control">
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
                              <button type="submit" class="btn btn-primary" href="{% url 'home' %}">Увійти</button>
				   			</div>
					</form>
				</div>

                  {% for massage in messages %}
                    <p id="massage">{{message}}</p>
                  {% endfor %}
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Ще не маєте акаунту? <a href="{% url 'registration' %}" class="ml-2">Зареєструватися</a>
					</div>

				</div>
			</div>
		</div>
            </div></div></div></div></div></header>
<section class="home-section section-hero overlay slanted" id="home-section">
      <a href="#top" class="scroll-button smoothscroll" style="padding-bottom: 0px;margin-bottom: 37px;">
        <span class="icon-keyboard_arrow_up"></span>
      </a>
</section>
<!-- <footer class="site-footer slanted-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>
    </footer> -->
		  {% endblock %}